[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
wandb = "*"
numpy = "*"
scikit-learn = "*"
notebook = "*"
pandas = "~=2.2.0"
pillow = "*"
pyarrow = "~=15.0.0"

[dev-packages]

[requires]
python_version = "3.11"
